Pods
/R.generated.swift
R.generated.swift
App/ContentEditor.app.dSYM.zip
App/ContentEditor.ipa
App/fastlane/README.md
App/fastlane/report.xml
*.orig
App/picpro.app.dSYM.zip
*.ipa
*.xcuserstate
App/picpro.xcodeproj/xcuserdata
*.xcbkptlist
App/picpro.xcworkspace/xcuserdata
